.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.cart-items .cart-details {
  width: 70%;
}

.cart-items .cart-total {
  position: sticky;

  width: 30%;
  margin-left: 30px;
  margin-top: 30px;
  height: fit-content;
  top: 20%;
  /* right: 0; */
}

.cart-list {
  background: white;
  margin-top: 30px;
}

.cart-items .img {
  width: 150px;
  height: 150px;
}

.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  /* margin-top: 50px; */
  color: grey;
}

.cart-items h4 span {
  color: #e94560;
  /* margin-left: 20px; */
  font-weight: 500;
}

.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}

.cartControl {
  margin-top: 10px;
}

.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.cartControl button:hover {
  background-color: #e94560;
  color: white;
}

.incItem {
  color: #e94560;
  background-color: white;
}

.incItem button:hover {
  background-color: #e94560;
  color: white;
}

.desCart {
  background: #f6f9fc;
}

.removeCart {
  background: none;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
}

.cart-total h4 {
  font-size: 15px;

  font-weight: 400;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}

.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #e94560;
}

.no-items {
  color: #e94560;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}

.checkout {
  display: block;
  margin: 40px auto;
}

.checkout--button:hover {
  background: salmon;
  transform: scale(1.1);
}

.checkout--button button {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 25px;
}

section.cart-items {
  padding-bottom: 100px;

}

#removeAllcart--btn {
  padding: 5px 10px;
  background-color: #e9456033;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #e94560;

}

#removeAllcart--btn:hover {
  background-color: #e94560;
  color: white;
}

@media (max-width: 768px) {


  .cart-details {
    line-height: 1.5;
    font-size: smaller;
    text-align: center;
    margin-top: 0;

  }

  .cart-items .cart-details>h3 {
    margin-top: 0;
  }

  section.cart-items {
    padding: 0;
  }

  .cart-items>.container {
    display: flex;
    flex-direction: column;
    min-width: 98%;
  }

  .cart-items .cart-details {
    min-width: 100%;
  }

  .cart-items .cart-total {
    min-width: 100%;
    margin-left: 0;
    z-index: 99;
    bottom: 0;
    left: 0;
  }


  .cart-items.cart-list {
    min-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .cart-list.product {

    flex-direction: column;
    align-items: center;
  }

  .cart-list.product.d_flex {
    min-width: 100%;

  }

  .cart-list.cart-details {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .cart-list .img {
    width: 50px;
    height: 50px;
  }

  .cart-list img {
    width: 50px;
    height: 50px;
  }

  .cartControl {
    margin-top: 0;
  }

}