/* outer-container_________________________ */
.container.checkout {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    /* background-color: #f5f5f5; */
}

.breadcrumb .active {
    color: #c10a0ac8;
    border-bottom: 1px solid salmon;
}

/* container main___________________________ */
.main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

/* user checkout in4___________________-_-______ */
.user-info {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;

}


form {
    /* border: 1px solid #ccc; */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    /* width: 90%; */
    max-width: 50vw;
    margin-bottom: 50px;
    box-shadow: rgba(38, 35, 35, 0.2);

}

label {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
    display: block;
    /* width: 50%; */

}

#check--option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;

}

.form-check {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: inline-block;
    height: 10px;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    width: 10%;
    accent-color: #338dbc;

}



.main input {
    display: block;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    /* margin-bottom: 20px; */
    width: 100%;
}

input.form-control {
    margin-bottom: 20px;
}

.form-check input {
    display: inline-block;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 10%;

}

.form-group select {
    margin-right: auto;
    display: inline-block;
    height: 90%;
    width: 50%;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    /* height: 50px; */
    min-height: 50px;
    width: 100%;
    max-width: 100%;
    min-width: min-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    overflow: auto;
}

/* summary-order____________________ */
.order-summary {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    max-width: 35vw;
    align-items: flex-start;

}



.order-summary h1 {
    display: inline-block;
    align-self: center;

}

.cart-list {
    margin-left: 0;
    height: auto;
    margin-bottom: -20px;
    display: flex;
    width: 100%;
    /* align-items: flex-start; */
}

/* .item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
} */
.img {
    /* width: auto; */
    width: 100px;
    height: 70px;
    display: block;
    margin-right: 20px;
}

img {
    width: 100px;
    height: 100%;
    display: block;
    object-fit: cover;
    background-position: center;
    /* border: 1px solid #ccc; */
}



span.count {

    font-size: 12px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: #4b4b4b;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.total-detail {
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 30px 0;

}

.total-detail span {
    color: #4b4b4b;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.submit--btn {

    align-self: center;


}