.content.grid.product {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background: none;
  box-shadow: none;
}

.infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.product--item {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.product--item .img {
  margin: 0 auto;
}

.heading .heading-left h2 {
  display: inline-block;
  width: fit-content;
}

.NewArrivals h4 {
  font-weight: 400;
}

.NewArrivals span {
  color: #e94560;
  font-size: 15px;
  font-weight: 500;
}

.NewArrivals .box img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .content.grid.product {
    grid-template-columns: repeat(2, 1fr);
    min-width: 100%;
    margin: 0;


  }

  .product--item {
    width: 140px;
    height: 200px;
    gap: 20px;
  }


}