.topCateContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  /* flex-direction: column; */
}

.itemContainer {
  width: 200px;

}

.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.topCateItem {
  /* width: auto; */
  /* height: fit-content; */
}

@media screen and (max-width: 768px) {
  .topCateContainer {}

  .itemContainer {
    width: 150px;

  }


}