@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #ffffff; */

  background-color: #f5f5f5;

}

/* button on mouse down scale 0.9 */
button:active {
  transform: scale(0.9);
}

.background {
  background: #f6f9fc;
  padding: 50px 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.RText {
  text-align-last: right;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;

}

.row {
  width: 50%;
}

.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: rgb(255, 255, 255);
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}

.icon-circle:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
  width: 100%;
}

.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}

.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

/*---------category----------*/
.btn-primary {
  background: #338dbc;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.btn-primary:hover {
  /* animation: none; */
  background-color: #3ba5df;
  color: rgb(255, 255, 255);
}

.top {
  height: 50vh;
}

.mtop {
  margin-top: 40px;
}

.heading i {
  color: #e94560;
  margin: 10px;
}

.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}

/*---------product-----------*/
.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}

.product h3 {
  font-weight: 400;
  font-size: 17px;
}

.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}

.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}


.product:hover .product-like {
  opacity: 1;
}

.box.product {
  width: 100%;
  height: 100%;
}


/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}

.control-btn .prev {
  left: -20px;
}

.control-btn .next {
  right: -20px;
}

.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}

.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}

/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}

.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}

.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}

/*----- heading -------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* button ease in out infinite scale 1.1 */
.btn-primary {
  animation: scale 1s ease-in-out infinite, blink 1s infinite;

}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 0 rgba(232, 193, 154, 0.7);
  }

  50% {
    box-shadow: 0 0 20px rgba(232, 194, 104, 0.92);
  }

  100% {
    box-shadow: 0 0 0 rgba(207, 171, 27, 0.7);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;

  }

  .box.product {
    width: 100%;
    min-height: 300px;
  }


}