.shop .category {
  padding: 30px;
  height: 90vh;
}

.shop {
  margin-top: 50px;
  position: relative;
  min-height: 100vh;


}

#shop {}

.chead h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.chead h1:nth-child(2) {
  opacity: 0.5;
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  padding-left: 70px;
}

.shop .category .box {
  background-color: #f6f9fc;
  margin: 15px 0;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 5px;

}

.shop .category img {
  width: 400px;
  height: 500px;
}

.shop .category .box:hover {
  background-color: #fff;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.shop .box2 {
  margin-top: 200px !important;
  text-align: center;
}

.shop .category button {
  padding: 10px;
  background: none;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.shop .contentWidth {
  position: relative;

}

.grid1 {


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;


}

.buy-now {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  z-index: 100;
  opacity: 0;
}

.buy-now button {
  background-color: tomato;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}


.shop .product .img {
  width: 100%;
  display: block;
  height: 220px;

  border-radius: 5px;

}

.shop .product .img:hover .buy-now {
  opacity: 1;
}

.shop .product .img:hover img {
  opacity: 0.3;
}

.shop .product {
  transition: 0.5s;
}

.shop .product:hover {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.product-details {

  overflow: hidden;
}

.product-details h3 {
  /* font-size: 20px; */
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: max-content;
  /* position: absolute; */
  /* top: 70%; */

}

.product-details h3:hover {
  color: #9ea3ff;
}


/* .product-details .rate {
  position: absolute;
  bottom: 5%;
} */

.product-details h4 {
  position: absolute;
  bottom: 5%;
}

.product-details button {
  position: absolute;
  bottom: 5%;

  right: 5%;
}

.mtop {
  height: 370px;
  width: 250px;
}

.mtop img {
  display: block;
  /* height: auto; */
  height: 220px;

  width: 100%;
  object-fit: cover;
  background-position: center;
}


.loading-spinner {

  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-icon {
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.collection-sorting-wrapper select {
  outline: none;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  padding: 0px 50px 0px 10px;
  border-radius: 25px;
  background: linear-gradient(145deg, #fff1f1, salmon);
  border: none;
}


.collection-sorting-wrapper .form-horizontal {
  float: right;
  right: 0;
  border-radius: 25px;
  position: relative;
  background: linear-gradient(145deg, #fff1f1, salmon);

}

.collection-sorting-wrapper .form-horizontal:after {
  background: linear-gradient(to right, #9ea3ff, #ffb0f8);
  content: "";
  width: 44px;
  height: 41px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

select {
  background: linear-gradient(145deg, #fff1f1, salmon);
}

.panel {
  position: absolute;
  top: 0;
  margin-right: 50px;
}